<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인하러가세요</title>
</head>

<body>
  <button href="/page1" style="background-color: white; margin-top: 350px; margin-left: 650px;">로그인하러가세요!!</button>
</body>

</html>