<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/main_style.css">
    <link rel="stylesheet" href="/public/nav_style.css">


    <title>page1</title>
  </head>
    <body>
      <%- include('nav.html') %>




      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="main" class="carousel-inner">
          <div class="carousel-item active">
            <div class="bg"></div>
            <img src="/public/004.gif" class="d-block w-100" alt="bootstrap">
          <div class ="first_cur" class="carousel-caption d-none d-md-block">
              <h1>할머니와 마지막으로<br>마주한게 언제인가요?</h1>
              <p>오늘 다 끝내버린다는 마인드.</p>
          <div class = "hero">
            <button onclic="location.href='page1'"> 뚜룹뚭뚭 </button>
          </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg"></div>
            <img src="/public/002.jpg" class="d-block w-100" alt="bootstrap">
          <div class ="second_cur" class="carousel-caption d-none d-md-block">
              <h2>당신은 할아버지에<br>대해 잘 알고있나요?</h2>
              <p>헤으으으응</p>
          <div class = "hero">
            <button onclic="location.href='page1'"> 따라라란 </button>
          </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg"></div>
            <img src="public/003.jpg" class="d-block w-100" alt="bootstrap">
          <div class ="third_cur" class="carousel-caption d-none d-md-block">
              <h3>그들의 이야기를<br>기억하겠습니다</h3>
              <p>Some representative placeholder content for the first slide.</p>
          <div class = "hero">
            <button onclic="location.href='page1'"> 따라라란 </button>
          </div>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
    </script>
  </body>
</html>