<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>거북잉</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/style.css">

  </head>

  <body>
    <nav class="navbar navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="visibility: visible;height: 720px; border-radius: 0px 0px 0px 50px;">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">&nbsp;&nbsp;&nbsp;<img class="img-concert" src="../public/images/login.png"/>&nbsp;&nbsp;&nbsp;로그인</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><br>&nbsp;&nbsp;&nbsp;<img class="img-concert" src="../public/images/guess.png"/>&nbsp;&nbsp;나는 거북이일까?</a>
              </li>
          <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><br>&nbsp;&nbsp;&nbsp;<img class="img-concert" src="../public/images/guide.png"/>&nbsp;&nbsp;&nbsp;스트레칭 가이드북</a>
              </li>
          <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><a class="nav-link active" aria-current="page" href="#" style="margin-top: 350px;">&nbsp;&nbsp;&nbsp;<img class="img-concert" src="..public/images/help.png">&nbsp;&nbsp;&nbsp;&nbsp;도움말</a>
          </li>
            </div>
        </div>
        </div>
      </nav>
        <div class="box" style="background: #BDBDBD;">
          <img class="profile" src="../public/images/main.gif">
      </div>
  </body>
</html>