<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>스트레칭가이드북</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <title>스트레칭</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

    <%- include('nav.html') %>


    <div class="title">
        <h>
            거북목 예방 스트레칭
        </h>
    </div>
    
    <div class="ex1">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;거북목 증후군이란 무엇일까?</p>
    </div>
    <div class="ex1-1">
        <p>오랫동안 눈높이보다 낮은 모니터를 내려다보는<br>사람들의 목이 거북목처럼 앞으로 구부러지는<br>증상이야! 귀가 어깨보다 2.5cm 이상 앞으로<br>나와있을 경우 거북목 증후군이라고 해</p>
    </div>
    
    <div class="ex2">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;거북목 증후군 자가진단법은?</p>
    </div>
    <div class="ex2-1">
        <p>자가진단법<br>1 어깨와 목 주위가 자주 뻐근하고 등이 굽어있다<br>2 옆에서 보면 고개가 어깨보다 앞으로 나와있다<br>3 잠을 자도 피곤하고 뒷목이 불편하다<br>이 중 두개 이상 해당된다면 거북목 증후군이야!</p>
    </div>

    <div class="ex3">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;스트레칭전 바른 자세는?</p>
    </div>
    <div class="ex3-1">
        <p>엉덩이를 최대한 의자 끝으로 넣고 가슴을<br>위쪽 대각선을 향해 올린다는 느낌으로<br>앉아야 해. 그 후 앉은키를 잴 때처럼<br>목을 쭉 빼고 턱을 살짝 당겨줘</p>
    </div>

    <div>
        <video class="video_1" src="../public/video/001.mp4" controls></video>
    </div>

    <div>
        <video class="video_2" src="../public/video/002.mp4" controls></video>
    </div>

    <div>
        <video class="video_3" src="../public/video/003.mp4" controls></video>
    </div>

    <div class="box_3" style="background: #BDBDBD;">
        <img class="profile" src="../public/images/main.gif">
    </div>
</body>
</html>