<!doctype html>
<html lang="ko">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/style.css">

    <title>로그인페이지</title>
  </head>
  <body>

      <%- include('nav.html') %>


      <img src="../public/images/stastic.gif" style="display: fixed; margin-left: 550px; margin-top: 150px;">
      
      <div class="container text-center">
        <div style="margin-top: 150px;" class="login" lass="container mt-3">
          <form action="/add" method="POST">
            <div class="form-group" style="margin-left: 400px; margin-right: 400px">
              <label>아이디</label>
              <input type="text" class="form-control" name="id">
            </div>
            <div class="form-group" style="margin-left: 400px; margin-right: 400px">
              <label>비밀번호</label>
              <input type="password" class="form-control" name="pw">
            </div>
            <button type="submit" class="btn btn-dark">로그인</button>
          </form>
        </div>
      </div>

      
      
      
  </body>
</html>