.container	.header{
	width: 80%;
	height: 80px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container	.header	h1 a{
	text-decoration: none;
	color: black;
}

.container .nav ul li{
	display: inline-block;
	margin:0 10px;
}

.container .nav ul li a{
	text-decoration: none;
	color: black;
}

.container .nav ul li a:hover{
	color: skyblue;
}