.div_0 {
  background-color: white;
  width: 100%;
  height: 150px;
  text-align: center;
}

.div_1 {
  display: flex;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../public/004.jpg");
  width: 100%;
  height: 150px;
}

.div_2 {
  background-color: white;
  width: 100%;
  height: 400px;
}

.div_3 {
  background-image: url("..public/005.jpg");
  width: 100%;
  height: 400px;
}

.div_4 {
  background-color: white;
  width: 100%;
  height: 400px;
}